<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * *

div class="navbar navbar-expand navbar-dark bg-dark nav-top navbar-expand-sm-lg-xxl" >
    <a href="https://www.moh.gov.zm" class="navbar-brand ms-1">
      <img
        width="40"
        alt="MOH Logo"
        scr=""
      />
      MoH
    </a>
    <div class="navbar-nav me-auto" *ngIf="!currentUser?.id">
      <li class="nav-item">
        <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link ">Home</a>
      </li>
      <li class="nav-item" >
        <a [routerLink]="['/login']" routerLinkActive="active" class="nav-link">Login</a>
      </li>
    </div>

    <div class="navbar-nav me-auto" *ngIf="currentUser?.id">
      <li class="nav-item">
        <a [routerLink]="['/userdetails']" routerLinkActive="active" class="nav-link ">
          Welcome {{currentUser.firstname}} {{currentUser.lastname}}
        </a>
      </li>
      <li class="nav-item" >
        <a (click)="logOut()" class="nav-link" style="cursor: pointer;">Sign Out</a>
      </li>
    </div>
    <div class="navbar-nav ms-auto" >
      <li class="nav-item">
        <a [routerLink]="['/mwense']" routerLinkActive="active" class="nav-link ms-1">Mwense District</a>
      </li>

      <li class="nav-item">
        <a [routerLink]="['/about']" routerLinkActive="active" class="nav-link">About Us</a>
      </li>
    </div>
  </div>


********************************************************************-
<div class="wrapper d-flex" *ngIf="currentUser?.id">
  <div class="sidebar">
    <div class="nav-item">
      <small class="text-muted pl-3">PATIENTS TRANSACTIONS</small>
      <ul>
        <li><a [routerLink]="['/registration']" routerLinkActive="active" ><i class="fas fa-file-invoice"></i>Patient Registration</a></li>
        <li><a [routerLink]="['/labresults']" routerLinkActive="active"><i class="fas fa-file-invoice"></i>Lab Results<img src="https://img.icons8.com/material-outlined/24/000000/new.png" /></a></li>
        <li><a [routerLink]="['/followuplist']" routerLinkActive="active"><i class="fas fa-file-invoice"></i>Patients Followup <img src="https://img.icons8.com/material-outlined/24/000000/2.png" /></a></li>
        <li><a [routerLink]="['/patientlist']" routerLinkActive="active"><i class="fas fa-file-invoice"></i>Patient Register <img src="https://img.icons8.com/material-outlined/24/000000/2.png" /></a></li>
        <li><a href="#"><i class="fas fa-file-invoice"></i>Patients Not Reviewed <img src="https://img.icons8.com/material-outlined/24/000000/2.png" /></a></li>
      </ul>
    </div>
    <div class="nav-item" *ngIf="isAdmin()">
      <small class="text-muted pl-3">ADMIN AREA</small>
      <ul>
        <li><a [routerLink]="['/404']" routerLinkActive="active"><i class="far fa-calendar-alt"></i>User Management</a></li>
        <li><a [routerLink]="['/401']" routerLinkActive="active" ><i class="fas fa-video"></i>Patient Management</a></li>
      </ul>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <!-- <mat-drawer mode="side" opened="true"> -->
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
